$top-nav-bar-height: 60px;
$left-tool-bar-width: 100px;
$right-tool-bar-width: 200px;
$bottom-nav-bar-height: 40px;
$menu-background-color: #333333;

.top-nav-bar {
  position: absolute;
  float: left;
  top: 0px;
  width: 100%;
  height: $top-nav-bar-height;
  background-color: $menu-background-color;

  display: flex !important;
  justify-content: space-between !important;

  .left-menu-box {
    display: flex;
    width: 300px;
    .margin-left:not(:first-child) {
      margin-left: 20px;
    }
  }

  .right-menu-box {
    width: 300px;
  }

  .btn-basic {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0px 6px;
    height: 40px;
    img {
      padding: 10px 0px;
    }
    span {
      line-height: 40px;
      font-size: 16px;
      padding-left: 4px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0);
      border: none;
    }
    &:after {
      content: none;
    }
  }

  .header-box-content {
    display: flex;
    .header {
      height: 40px;
      font-size: 30px;
      margin-left: 10px;
      font-weight: bold;
      line-height: 40px;
    }
  }
}

.middle-content {
  position: absolute;
  float: left;
  top: $top-nav-bar-height;
  bottom: $bottom-nav-bar-height;
  width: 100%;

  .left-tool-bar {
    z-index: 10;
    position: absolute;
    float: left;
    width: $left-tool-bar-width;
    height: 100%;
    background-color: $menu-background-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .tool-btn {
      width: 46px;
      height: 46px;
      margin: 2px;
      padding: 0px;
      border: none;
      border-radius: 4px;
      background-color: darken($menu-background-color, 3%);
      &:hover {
        background-color: rgb(163, 163, 163);
      }
    }
  }

  .canvas {
    position: absolute;
    float: left;
    left: $left-tool-bar-width;
    right: $right-tool-bar-width;
    height: 100%;
    background-color: #222;

    &.use-pen1 {
      cursor: url("./statics/pen1-rotate.svg"), auto;
    }
    &.use-eraser {
      cursor: url("./statics/eraser-rotate.svg"), auto;
    }
    &.use-pointer {
      cursor: pointer;
    }

    .svg-canvas {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .right-tool-bar {
    z-index: 10;
    position: absolute;
    right: 0px;
    width: $right-tool-bar-width;
    height: 100%;
    background-color: $menu-background-color;

    h2 {
      color: #fafafa;
      font-size: 16px;
      padding: 10px 12px;
      margin: 0px;
      width: calc(#{$right-tool-bar-width - 40px});
    }
    .color-panel-container {
      // right scroll
      width: 100%;
      height: 200px;
      background-color: rgb(66, 66, 66);
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 6px;
      /* width */
      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .color-panel {
        height: 700px;
      }
    }

    .header {
      display: flex;
      .current-color {
        width: 30px;
        height: 30px;
        margin: auto 6px;
        border-radius: 6px;
        background-color: #fff;
      }
    }
  }

  .tool-bar {
    border-top: dashed 1px #111;
    border-bottom: dashed 1px #111;
  }
}

.bottom-nav-bar {
  position: absolute;
  float: left;
  bottom: 0px;
  width: 100%;
  height: $bottom-nav-bar-height;
  background-color: $menu-background-color;
  height: $bottom-nav-bar-height;
}

.canvas-cursor {
  width: 20px;
  height: 20px;
  color: red;
}
