.top-nav-bar {
  position: absolute;
  float: left;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: #333333;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.top-nav-bar .left-menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
}

.top-nav-bar .left-menu-box .margin-left:not(:first-child) {
  margin-left: 20px;
}

.top-nav-bar .right-menu-box {
  width: 300px;
}

.top-nav-bar .btn-basic {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0px 6px;
  height: 40px;
}

.top-nav-bar .btn-basic img {
  padding: 10px 0px;
}

.top-nav-bar .btn-basic span {
  line-height: 40px;
  font-size: 16px;
  padding-left: 4px;
}

.top-nav-bar .btn-basic:hover {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.top-nav-bar .btn-basic:after {
  content: none;
}

.top-nav-bar .header-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav-bar .header-box-content .header {
  height: 40px;
  font-size: 30px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 40px;
}

.middle-content {
  position: absolute;
  float: left;
  top: 60px;
  bottom: 40px;
  width: 100%;
}

.middle-content .left-tool-bar {
  z-index: 10;
  position: absolute;
  float: left;
  width: 100px;
  height: 100%;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.middle-content .left-tool-bar .tool-btn {
  width: 46px;
  height: 46px;
  margin: 2px;
  padding: 0px;
  border: none;
  border-radius: 4px;
  background-color: #2b2b2b;
}

.middle-content .left-tool-bar .tool-btn:hover {
  background-color: #a3a3a3;
}

.middle-content .canvas {
  position: absolute;
  float: left;
  left: 100px;
  right: 200px;
  height: 100%;
  background-color: #222;
}

.middle-content .canvas.use-pen1 {
  cursor: url("./statics/pen1-rotate.svg"), auto;
}

.middle-content .canvas.use-eraser {
  cursor: url("./statics/eraser-rotate.svg"), auto;
}

.middle-content .canvas.use-pointer {
  cursor: pointer;
}

.middle-content .canvas .svg-canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.middle-content .right-tool-bar {
  z-index: 10;
  position: absolute;
  right: 0px;
  width: 200px;
  height: 100%;
  background-color: #333333;
}

.middle-content .right-tool-bar h2 {
  color: #fafafa;
  font-size: 16px;
  padding: 10px 12px;
  margin: 0px;
  width: calc(160px);
}

.middle-content .right-tool-bar .color-panel-container {
  width: 100%;
  height: 200px;
  background-color: #424242;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 6px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.middle-content .right-tool-bar .color-panel-container::-webkit-scrollbar {
  width: 6px;
}

.middle-content .right-tool-bar .color-panel-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.middle-content .right-tool-bar .color-panel-container::-webkit-scrollbar-thumb {
  background: #888;
}

.middle-content .right-tool-bar .color-panel-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.middle-content .right-tool-bar .color-panel-container .color-panel {
  height: 700px;
}

.middle-content .right-tool-bar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-content .right-tool-bar .header .current-color {
  width: 30px;
  height: 30px;
  margin: auto 6px;
  border-radius: 6px;
  background-color: #fff;
}

.middle-content .tool-bar {
  border-top: dashed 1px #111;
  border-bottom: dashed 1px #111;
}

.bottom-nav-bar {
  position: absolute;
  float: left;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #333333;
  height: 40px;
}

.canvas-cursor {
  width: 20px;
  height: 20px;
  color: red;
}
